.container-pastores-ministeriais {
    // padding-top: 5rem;
    .card-ministerial {
        justify-content: center;
        text-align: center;
        // box-shadow: 1px 3px 3px #eee;
        // border: 1px solid #eee;
        padding: 3rem 4rem;
        border-radius: 8px;
        img {
            width: 15rem;
            height: 13rem;
            border-radius: 100%; 
        }
        .section-cargo {
            display: flex;
            justify-content: center;
            line-height: 50px;
            align-self: flex-end;
            align-items: flex-end;
            padding: 10px 10px;
            .cargo {
                font-size: 1.2rem;
                margin: 0;
                text-transform: uppercase;
            }
            svg {
                width: 30px;
                height: 30px;
            }
            
        }
        span {
            display: block;
            font-size: 1.6rem;
            width: 100%;
            text-align: center;
        }
        a {
            color: $primary-color;
            border: 1px solid $primary-color;
            background-color: transparent;
            padding: .4rem 2rem;
            margin-top: 1rem;
        }
    }
}