
/* Secção de Carrousel */

.home .carousel-inner {
    height: 80vh;
}
.carousel-principal .carousel-caption {
    text-align: left;
}
.carousel-principal .carousel-indicators {
    justify-content: flex-start;
    margin-left: 6%;
    padding: 0PX;
}

.carousel-principal .carousel-indicators button {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    margin-top: 30px;
}
.carousel-principal .carousel-item {
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: center;
}
.carousel-principal .carousel-caption {
    left: 6%  !important;
}
.carousel-principal .titulo {
    font-size: 3rem;
    margin-bottom: 25px;
}
.carousel-principal .descricao {
    font-size: 1.5rem;
}
.carousel-principal .link {
    font-size: 1rem;
    border: 1px solid #fff;
    color: #fff;
}

.carousel-inner img {
    width: 100%;
    height: 500px;
}


@media only screen and (min-width: 320px) and (max-width: 768px) {
    .carousel-principal {
  
        .titulo {
            font-size: 1.2rem;
        }

        p {
            display: none;
        }
    }
}
