/*
    Configuração de menu
*/

.dropdown:hover .dropdown-menu {
    display: block;
}
.dropdown-menu {
    padding: 0;
    border-radius: 0px;
}
.dropdown-menu a {
    padding: 9px 15px;
    color: #003366 !important;
}
.dropdown-menu a:hover {
    transition: all 0.3s;
    background-color: #003366 !important;
    color: #fff !important;
}

/* Navegação do Top */

.nav-top-page {
    color: $primary-color;
    background-color: #ffffff;
}

.nav-top-page .container-fluid {
    height: 25px;
}
.nav-top-page .nav-link {
    color: $primary-color !important;
    text-transform: uppercase;
    font-size: 11px;
}

/* Menu Principal do Site */

#navSitePrincipal {
    position: fixed; 
     width: 91.6%; 
    z-index: 100000;
    background-color: transparent;
    color: #fff;
}

.nav-site-principal-top {
    background-color: #ffff !important;
    box-shadow: 0px 4px 4px rgba(157, 155, 155, 0.25);
    padding: 0 !important;
    top: 0 !important;
    color: #003366;
    transition: all 0.3s;
}

.nav-site-principal {
    transition: all 0.3s;
    padding-top: 40px;
}
.nav-site-principal .nav-link {
    color: #ffffff !important;
}
.nav-site-principal-top .nav-link {
    color: #003366 !important;
}